.DS_Store
node_modules
/dist

/app1/node_modules
/app2/node_modules
/app1/dist
/app2/dist
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/output.js
/src/config/packConfig.js
